<form action='/add' method='post'>
  <label for='title'>Title</label>
  <input type='text' name='title' id='title'>
  <label for='new_entry'>Diary Entry</label>
  <textarea rows='5' cols='80' name='new_entry' id="new_entry">
  </textarea>
  <input type='submit' value='release your secrets' id='submit'>
</form>
